@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour&display=swap');





* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: black;
    color: #ffff;

}

.container {
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2vw;
    border-radius: 5px;
}

.web-design {
    width: 250px;
    /* border: 1px solid #ffff; */
    padding: 16px;
    background-color: gray;
    border-radius: 5px;
}

.uiux-design {
    width: 250px;
    /* border: 1px solid #ffff; */
    padding: 16px;
    background-color: gray;
    border-radius: 5px;
}


.app-design {
    width: 250px;
    /* border: 1px solid #ffff; */
    padding: 16px;
    background-color: gray;
    border-radius: 5px;
}



h1 {

    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "BLED" 0,
        "SCAN" 0;
        font-size: 18px;
        margin-top: 3vw;
        background-color: gray;

}
p{
    font-family: sans-serif;
    text-align: justify;
    margin-top: 3vw;
    background-color: gray;
}
button{
    border: none;
    background-color: #ffff;
    color: black;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;

}
button:hover{
    background-color: crimson;
    color: #ffff;
    transition: 1s;

}
.bi-code-slash{
    font-size:40px!important;
    background-color: gray;
}

.web-design:hover{
    background-color: crimson;
    transition: 2s;
}


@media (max-width:765px){
    .app-design{
        margin-top: 30px;
    }
    
}
@media (max-width:515px){
    .uiux-design{
        margin-top: 30px;
    }
    .container{
        margin-top:50px;
    }
    
}